html, body, #root {
  font-family: Inter, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


